[Unit]
Description=Linky teleinfo display
After=network.target

[Service]
ExecStart=/usr/local/bin/linky-epaper
Restart=on-failure

[Install]
WantedBy=multi-user.target
